<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="SeperatorForQueryIframeInside" value="--->"/>
	<!--Select one browser from IE,Chrome,Firefox,Safari,Opera-->
	<add key="BrowserInUse" value="IE"/>
	<!--Select one browser from Excel,DB,Xml-->
    <add key="LoadType" value="Excel"/>
    <add key="CurrentProjectID" value="1"/>

	<add key="Excel" value="DataTable.xls"/>
	<add key="DB" value="Data Source=localhost;Initial Catalog=Automation;User ID=Gnail" />
	<add key="Xml" value="DataTable.xml"/>
	  
	<add key="1" value="www.bing.com"/>
  </appSettings>  

</configuration>